@import "compass/utilities/general/clearfix";

.cssClass {
    margin: auto;
    position: relative;

    .listWrapper {
        @include pie-clearfix;
        position: relative;
    }
    .imageWrapper {
        @include pie-clearfix;
        position: relative;
    }
    .owl-nav {
        .owl-prev {
            width: 39px;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            text-indent: -9999px;
        }
        .owl-next {
            width: 39px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            text-indent: -9999px;
        }
    }

    &.fullwidth {
        .listWrapper {
            .listItem {
                margin-left: 20px;
            }
        }
        .imageWrapper {
            left: 0;
        }
    }
}
