<div class="{{ cssClass }}">
    <input type="hidden" value="{{ config|json_encode() }}"/>
    {% block largeSlides %}
    <div class="large owl-carousel">
        {% for item in listItems %}
            {% block large %}
            {{ renderer.component(item.large) }}
            {% endblock %}
        {% endfor %}
    </div>
    {% endblock %}
    {% block thumbnailSlides %}
    <div class="thumbnail owl-carousel">
        {% for item in listItems %}
            {% block thumbnail %}
            {{ renderer.component(item.thumbnail) }}
            {% endblock %}
        {% endfor %}
    </div>
    {% endblock %}
</div>
